##
# (c) 2021-2025
#     Cloud Ops Works LLC - https://cloudops.works/
#     Find us on:
#       GitHub: https://github.com/cloudopsworks
#       WebSite: https://cloudops.works
#     Distributed Under Apache v2.0 License
#
name: Deploy Node.js Component
author: cloudopsworks
description: Deploy Node.js Component to NPM repository
inputs:
  source_path:
    description: 'The path to the source code'
    required: false
    default: 'source'
  blueprint_path:
    description: 'The path to the blueprint'
    required: false
    default: 'bp'
  artifacts_name:
    description: 'The name of the artifacts to save'
    required: false
    default: 'build_artifacts'
  sources_artifacts_name:
    description: 'The name of the sources to save'
    required: false
    default: 'source_artifacts'
  bot_user:
    description: 'The bot user to use for the build'
    required: true
  token:
    description: 'The github token to use for the build'
    required: true

runs:
  using: 'composite'
  steps:
    # Get if this is a library project
    - name: Get pipeline is Library
      id: is_library
      uses: mikefarah/yq@master
      with:
        cmd: yq e '(.isLibrary or .is_library) and true' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml

    - name: Get Pipeline Library destination Registry
      id: library_registry
      uses: mikefarah/yq@master
      with:
        cmd: yq e '.npm.registry // "https://npm.pkg.github.com"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml

    - name: Get Pipeline Library Registry strategy
      id: library_strategy
      uses: mikefarah/yq@master
      with:
        cmd: yq e '.npm.strategy // "all"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml

    - name: Get Pipeline Library access type
      id: library_access
      uses: mikefarah/yq@master
      with:
        cmd: yq e '.npm.access // "restricted"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml

    # Deploy Code to Registry
    - name: Deploy Code to Registy
      if: ${{ steps.is_library.outputs.result == 'true' }}
      uses: JS-DevTools/npm-publish@v3
      with:
        package: ${{ inputs.source_path }}
        token: ${{ inputs.token }}
        registry: "${{ steps.library_registry.outputs.result }}"
        strategy: "${{ steps.library_strategy.outputs.result }}"
        access: "${{ steps.library_access.outputs.result }}"
