##
# (c) 2021-2025
#     Cloud Ops Works LLC - https://cloudops.works/
#     Find us on:
#       GitHub: https://github.com/cloudopsworks
#       WebSite: https://cloudops.works
#     Distributed Under Apache v2.0 License
#
name: Config for NodeJS Sources
author: cloudopsworks
description: Configuration for NodeJS sources Requires ./bp/ci/config always be preloaded
inputs:
  source_path:
    description: 'The path to the source code'
    required: false
    default: 'source'
  blueprint_path:
    description: 'The path to the blueprint'
    required: false
    default: 'bp'
  environment:
    description: 'The environment to use for the build'
    required: true
  has_preview:
    description: 'The preview flag will process only for preview builds'
    required: false
    default: 'false'

outputs:
  front_end:
    description: 'The front end flag'
    value: ${{ steps.front_end.outputs.result }}
  node_extra_env:
    description: 'The extra environment variables'
    value: ${{ steps.node_extra_env.outputs.result }}
  install_command:
    description: 'The install command'
    value: ${{ steps.install_command.outputs.result }}
  build_command:
    description: 'The build command'
    value: ${{ steps.build_command.outputs.result }}
  node_build_dir:
    description: 'The build directory'
    value: ${{ steps.node_build_dir.outputs.result }}

runs:
    using: 'composite'
    steps:
      # get from global inputs extra env vars from : node_extra_env entry
      - name: Get Optional Env Vars
        id: node_extra_env_global
        shell: bash
        run: |
          RET=$(yq e -I=0 '.node_extra_env // ""' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml | tr '\n' ' ' | sed 's/.$//')
          echo "result=$RET" >> $GITHUB_OUTPUT

      # get from  inputs extra env vars from preview config: node_extra_env entry
      - name: Get Optional Env Vars - ${{ inputs.environment }}
        if: ${{ inputs.has_preview == 'true' }}
        id: node_extra_env_preview
        shell: bash
        run: |
          RET=$(yq e -I=0 '.node_extra_env // "${{ steps.node_extra_env_global.outputs.result }}"' ./${{ inputs.source_path }}/.cloudopsworks/vars/preview/inputs.yaml | tr '\n' ' ' | sed 's/.$//')
          echo "result=$RET" >> $GITHUB_OUTPUT

      # get from inputs extra env vars from specific build environment: node_extra_env entry
      - name: Get Optional Env Vars - ${{ inputs.environment }}
        if: ${{ inputs.has_preview != 'true' }}
        id: node_extra_env_env
        shell: bash
        run: |
          RET=$(yq e -I=0 '.node_extra_env // "${{ steps.node_extra_env_global.outputs.result }}"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-${{ inputs.environment }}.yaml | tr '\n' ' ' | sed 's/.$//')
          echo "result=$RET" >> $GITHUB_OUTPUT

      - name: Set Optional node_extra_env from properly calulated origin
        id: node_extra_env
        shell: bash
        run: echo 'result=${{ steps.node_extra_env_preview.outputs.result != '' && steps.node_extra_env_preview.outputs.result || steps.node_extra_env_env.outputs.result }}' >> $GITHUB_OUTPUT

      # Get from global inputs if there is custom node install command
      - name: Get Custom Install Command
        id: install_command
        shell: bash
        run: |
          RET=$(yq e -I=0 '.custom_install_command // "npm install --omit=dev"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml)
          echo "result=$RET" >> $GITHUB_OUTPUT


      # Get from global inputs if there is custom node build command
      - name: Get Custom Install Command
        id: build_command
        shell: bash
        run: |
          RET=$(yq e -I=0 '.custom_build_command // "npm run build --if-present"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml)
          echo "result=$RET" >> $GITHUB_OUTPUT


      # get from global inputs the path where to find the node build result
      - name: Get Node Build Dir
        id: node_build_dir
        shell: bash
        run: |
          RET=$(yq e -I=0 '.node_build_dir // "./build"' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml)
          echo "result=$RET" >> $GITHUB_OUTPUT

      # get from global inputs the setting if it is frontend target
      - name: Get Front-End Setting
        id: front_end
        shell: bash
        run: |
          RET=$(yq e -I=0 '.frontend and true' ./${{ inputs.source_path }}/.cloudopsworks/vars/inputs-global.yaml)
          echo "result=$RET" >> $GITHUB_OUTPUT
