##
# (c) 2021-2025
#     Cloud Ops Works LLC - https://cloudops.works/
#     Find us on:
#       GitHub: https://github.com/cloudopsworks
#       WebSite: https://cloudops.works
#     Distributed Under Apache v2.0 License
#
name: Deploy Mobile Application Google Cloud Platform Firebase Test Lab
author: cloudopsworks
description: Deploy Mobile Application to Google Cloud Platform Firebase Test Lab
inputs:
  source_path:
    description: 'The path to the source code'
    required: false
    default: 'source'
  blueprint_path:
    description: 'The path to the blueprint'
    required: false
    default: 'bp'
  token:
    description: 'The GitHub token'
    required: true
  platform_type:
    description: 'The mobile platform type'
    required: true
  gcp_credentials:
    description: 'Google Cloud Credentials'
    required: true
  gcp_project:
    description: 'Google Cloud Project Name'
    required: true
  gcp_region:
    description: 'Google Cloud Region'
    required: true
  gcp_impersonate_sa:
    description: 'Google Cloud SA Impersonation account'
    required: true
  terraform_state_conf:
    description: 'The Terraform state configuration'
    required: true
  unlock:
    description: 'Unlock the state'
    required: false
    default: 'false'
  lock_id:
    description: 'The lock ID'
    required: false
    default: ''
  destroy:
    description: 'Destroy the state'
    required: false
    default: 'false'
  release_name:
    description: 'The release name'
    required: true
  release_version:
    description: 'The release version'
    required: true
  qualifier:
    description: 'The release qualifier'
    required: false
    default: ''
  project_key:
    description: 'The package name'
    required: true
  deployment_name:
    description: 'The deployment name'
    required: true
  environment:
    description: 'The environment'
    required: true
  artifacts_name:
    description: 'The name of the artifacts to save'
    required: false
    default: 'build_artifacts'
  xcode_scheme:
    description: 'Xcode Scheme to build and test'
    required: false
    default: ''
  xcode_sdk:
    description: 'Xcode SDK to build and test'
    required: false
    default: ''
  xcode_destination:
    description: 'Xcode Destination to build and test'
    required: false
    default: ''
  android_sdk:
    description: 'The Android SDK SDK to use for the build'
    required: false
    default: ''
  android_destination:
    description: 'The Android SDK destination to use for the build'
    required: false
    default: ''
  android_configuration:
    description: 'The Android SDK configuration to use for the build'
    required: false
    default: ''

runs:
  using: 'composite'
  steps:
    - name: Test Script Path
      id: test_script_path
      working-directory: ${{ inputs.source_path }}
      shell: bash
      run: |
        res=$(yq e '.gcp.test_script_path // "device_tests"' .cloudopsworks/vars/inputs-${{ inputs.environment }}.yaml)
        echo "result=$res" >> $GITHUB_OUTPUT

    - name: Tests Scripts Available
      id: test_script_available
      working-directory: ${{ inputs.source_path }}
      shell: bash
      run: |
        res=false
        # Check dir exists
        if [ -d '${{ steps.test_script_path.outputs.result }}' ] ; then
          # Check dir has content
          if [ "$(ls -A '${{ steps.test_script_path.outputs.result }}')" ] ; then
            res=true
          fi
        fi
        echo "result=$res" >> $GITHUB_OUTPUT

    - name: Test Script Type
      id: run_test_type
      working-directory: ${{ inputs.source_path }}
      shell: bash
      run: |
        res=$(yq e '.gcp.test_script_type // "robo"' .cloudopsworks/vars/inputs-${{ inputs.environment }}.yaml)
        echo "result=$res" >> $GITHUB_OUTPUT

    - name: Results Bucket Location
      id: results_bucket_option
      working-directory: ${{ inputs.source_path }}
      shell: bash
      run: |
        res=$(yq e '.gcp.test_lab_bucket // ""' .cloudopsworks/vars/inputs-${{ inputs.environment }}.yaml)
        if [[ "$res" != "" ]] ; then
          res="--results-bucket=$res"
        fi
        echo "result=$res" >> $GITHUB_OUTPUT

    - name: Generate release.yaml
      working-directory: ${{ inputs.blueprint_path }}/devicefarms/gcp
      shell: bash
      run: |
        cat > release.yaml << EOF 
        release:
          name: ${{ inputs.release_name }}
          source:
            name: ${{ inputs.project_key }}
            version: ${{ inputs.release_version }}${{ inputs.front_end == 'true' && format('-{0}', inputs.environment) || '' }}
        EOF

    - name: Insert release.qualifier data into release.yaml
      if: ${{ inputs.qualifier != '' }}
      working-directory: ${{ inputs.blueprint_path }}/devicefarms/gcp
      shell: bash
      run: yq e -i '.release.qualifier = "${{ inputs.qualifier }}"' release.yaml

    - name: Generate Global Inputs global-inputs.yaml
      working-directory: ${{ inputs.blueprint_path }}/devicefarms/gcp
      shell: bash
      run: |
        cat > global-inputs.yaml << EOF
        environment: ${{ inputs.deployment_name }}${{ inputs.qualifier != '' && '/' || '' }}${{ inputs.qualifier }}
        release_name: ${{ inputs.release_name }}
        default:
          region: ${{ inputs.gcp_region }}
          project: ${{ inputs.gcp_project }}
          impersonate_sa: ${{ inputs.gcp_impersonate_sa }}
        EOF

    - name: Determine Plan Action
      uses: actions/github-script@v8
      id: plan_action
      with:
        script: |
          const is_destroy = ${{ inputs.destroy }};
          const is_unlock = ${{ inputs.unlock }};
          if (is_destroy) {
            core.setOutput('value', 'plan -destroy -no-color -input=false')
            console.log('destroy');
          } else {
            if (is_unlock) {
              core.setOutput('value', 'force-unlock -force ${{ inputs.lock_id }}')
              console.log('unlock');
            } else {
              core.setOutput('value', 'plan -no-color -input=false')
              console.log('apply');
            }
          }

    - name: GCloud Session
      id: session
      if: ${{ inputs.gcp_impersonate_sa == '' }}
      uses: google-github-actions/auth@v3
      with:
        credentials_json: ${{ inputs.gcp_credentials }}
        project_id: ${{ inputs.gcp_project }}
        export_environment_variables: true

    - name: GCloud Impersonate Session
      id: impersonate
      if: ${{ inputs.gcp_impersonate_sa != '' }}
      uses: google-github-actions/auth@v3
      with:
        credentials_json: ${{ inputs.gcp_credentials }}
#        service_account: ${{ inputs.gcp_impersonate_sa }}
        project_id: ${{ inputs.gcp_project }}
        export_environment_variables: true

    - name: IOS Steps
      uses: cloudopsworks/blueprints/cd/deploy/mobile/gcp/ios@v5.10
      if: ${{ contains(fromJSON('["ios"]'), inputs.platform_type) }}
      with:
        source_path: ${{ inputs.source_path }}
        blueprint_path: ${{ inputs.blueprint_path }}
        token: ${{ inputs.token }}
        release_name: ${{ inputs.release_name }}
        release_version: ${{ inputs.release_version }}
        qualifier: ${{ inputs.qualifier }}
        environment: ${{ inputs.environment }}
        artifacts_name: ${{ inputs.artifacts_name }}
        xcode_scheme: ${{ inputs.xcode_scheme }}
        xcode_sdk: ${{ inputs.xcode_sdk }}
        xcode_destination: ${{ inputs.xcode_destination }}
        test_script_available: ${{ steps.test_script_available.outputs.result }}
        run_test_type: ${{ steps.run_test_type.outputs.result }}

    - name: Android Steps
      uses: cloudopsworks/blueprints/cd/deploy/mobile/gcp/android@v5.10
      if: ${{ ! contains(fromJSON('["ios"]'), inputs.platform_type) }}
      with:
        source_path: ${{ inputs.source_path }}
        blueprint_path: ${{ inputs.blueprint_path }}
        token: ${{ inputs.token }}
        release_name: ${{ inputs.release_name }}
        release_version: ${{ inputs.release_version }}
        qualifier: ${{ inputs.qualifier }}
        environment: ${{ inputs.environment }}
        artifacts_name: ${{ inputs.artifacts_name }}
        android_sdk: ${{ inputs.android_sdk }}
        android_destination: ${{ inputs.android_destination }}
        android_configuration: ${{ inputs.android_configuration }}
        test_script_available: ${{ steps.test_script_available.outputs.result }}
        test_script_path: ${{ steps.test_script_path.outputs.result }}
        run_test_type: ${{ steps.run_test_type.outputs.result }}

    - name: Rename IPA/APK
      id: ipa_apk
      working-directory: ${{ inputs.blueprint_path }}/devicefarms/gcp/release
      shell: bash
      env:
        REL: ${{ inputs.release_name }}
        RELVER: ${{ inputs.release_version }}
        QUALI: ${{ inputs.qualifier != '' && '-' || '' }}${{ inputs.qualifier }}
      run: |
        ext="${{ contains(fromJSON('["ios"]'), inputs.platform_type) && 'ipa' || 'apk' }}"
        app_type="${{ contains(fromJSON('["ios"]'), inputs.platform_type) && 'IOS_APP' || 'ANDROID_APP' }}"
        release=$(ls *.$ext 2>/dev/null)
        echo "Found: $release, moving to: ${REL}-${RELVER}${QUALI}.$ext" 
        mv "$release" ${REL}-${RELVER}${QUALI}.$ext
        echo "ext=$ext" >> $GITHUB_OUTPUT
        echo "app_type=$app_type" >> $GITHUB_OUTPUT

    - name: Device configuration
      id: device_config
      shell: bash
      working-directory: ${{ inputs.source_path }}
      run: |
        devices=$(yq e '.gcp.devices[] | . as $item | "--device \"model=" + $item.model_id + ($item.version_id // "" | select(length > 0) | ",version=" + .) + ($item.locale_id // "" | select(length > 0) | ",locale=" + .) + ($item.orientation // "" | select(length > 0) | ",orientation=" + .) + "\" "' .cloudopsworks/vars/inputs-dev.yaml | tr '\n' ' ')
        echo "result=$devices" >> $GITHUB_OUTPUT

    - name: Schedule Run - Firebase Test Lab
      id: run_pool
      if: |
        ! cancelled() && 
        ( contains(fromJSON('["robo"]'), steps.run_test_type.outputs.result) ||
            steps.test_script_available.outputs.result == 'true' )
      working-directory: ${{ inputs.blueprint_path }}/devicefarms/gcp/release
      shell: bash
      env:
        REL: ${{ inputs.release_name }}
        RELVER: ${{ inputs.release_version }}
        QUALI: ${{ inputs.qualifier != '' && '-' || '' }}${{ inputs.qualifier }}
      run: |
        echo "::group::Schedule Run - Firebase Test Lab"
        target="${{ contains(fromJSON('["ios"]'), inputs.platform_type) && 'ios' || 'android' }}"
        gcloud firebase test $target run \
          --impersonate-service-account=${{ inputs.gcp_impersonate_sa }} \
          --app ${REL}-${RELVER}${QUALI}.${{ steps.ipa_apk.outputs.ext }}${{ steps.test_script_available.outputs.result == 'true' && ' --test=${REL}-${RELVER}${QUALI}-tests.zip' || '' }} \
          ${{ steps.device_config.outputs.result  }} \
          --type=${{ steps.run_test_type.outputs.result }} ${{ contains(fromJSON('["ios"]'), inputs.platform_type) && format('--xcode-version={0}', steps.xcode_version.outputs.result) }} \
          --client-details=matrixLabel="${REL}-${RELVER}${QUALI}" ${{ steps.results_bucket_option.outputs.result }} \
          --async
        echo "::endgroup::"
